# -----------------------------------------------------------------------------
#- iCE40-HX8K board constraint file (.pcf)
#- Dummy file used to verify synthesis
# -----------------------------------------------------------------------------
set_io -nowarn a[0]   A1
set_io -nowarn a[1]   A2
set_io -nowarn a[2]   A5
set_io -nowarn a[3]   A6
set_io -nowarn b[0]   A7
set_io -nowarn b[1]   A9
set_io -nowarn b[2]   A10
set_io -nowarn b[3]   A11
set_io -nowarn cin    A15
set_io -nowarn sum[0] A16
set_io -nowarn sum[1] B1
set_io -nowarn sum[2] B2
set_io -nowarn sum[3] B3
set_io -nowarn cout   B4
set_io -nowarn IO14   B5
set_io -nowarn IO15   B6
set_io -nowarn IO16   B7
set_io -nowarn IO17   B8
set_io -nowarn IO18   B9
set_io -nowarn IO19   B10
set_io -nowarn IO20   B11
set_io -nowarn IO21   B12
set_io -nowarn IO22   B13
set_io -nowarn IO23   B14
set_io -nowarn IO24   B15
set_io -nowarn IO25   B16
set_io -nowarn IO26   C1
set_io -nowarn IO27   C2
set_io -nowarn IO28   C3
set_io -nowarn IO29   C4
set_io -nowarn IO30   C5
set_io -nowarn IO31   C6
set_io -nowarn IO32   C7
set_io -nowarn IO33   C8
set_io -nowarn IO34   C9
set_io -nowarn IO35   C10
set_io -nowarn IO36   C11
set_io -nowarn IO37   C12
set_io -nowarn IO38   C13
set_io -nowarn IO39   C14
set_io -nowarn IO40   C16
set_io -nowarn IO41   D1
set_io -nowarn IO42   D2
set_io -nowarn IO43   D3
set_io -nowarn IO44   D4
set_io -nowarn IO45   D5
set_io -nowarn IO46   D6
set_io -nowarn IO47   D7
set_io -nowarn IO48   D8
set_io -nowarn IO49   D9
set_io -nowarn IO50   D10
set_io -nowarn IO51   D11
set_io -nowarn IO52   D13
set_io -nowarn IO53   D14
set_io -nowarn IO54   D15
set_io -nowarn IO55   D16
set_io -nowarn IO56   E2
set_io -nowarn IO57   E3
set_io -nowarn IO58   E4
set_io -nowarn IO59   E5
set_io -nowarn IO60   E6
set_io -nowarn IO61   E9
set_io -nowarn IO62   E10
set_io -nowarn IO63   E11
set_io -nowarn IO64   E13
set_io -nowarn IO65   E14
set_io -nowarn IO66   E16
set_io -nowarn IO67   F1
set_io -nowarn IO68   F2
set_io -nowarn IO69   F3
set_io -nowarn IO70   F4
set_io -nowarn IO71   F5
set_io -nowarn IO72   F7
set_io -nowarn IO73   F9
set_io -nowarn IO74   F11
set_io -nowarn IO75   F12
set_io -nowarn IO76   F13
set_io -nowarn IO77   F14
set_io -nowarn IO78   F15
set_io -nowarn IO79   F16
set_io -nowarn IO80   G1
set_io -nowarn IO81   G2
set_io -nowarn IO82   G3
set_io -nowarn IO83   G4
set_io -nowarn IO84   G5
set_io -nowarn IO85   G10
set_io -nowarn IO86   G11
set_io -nowarn IO87   G12
set_io -nowarn IO88   G13
set_io -nowarn IO89   G14
set_io -nowarn IO90   G15
set_io -nowarn IO91   G16
set_io -nowarn IO92   H1
set_io -nowarn IO93   H2
set_io -nowarn IO94   H3
set_io -nowarn IO95   H4
set_io -nowarn IO96   H5
set_io -nowarn IO97   H6
set_io -nowarn IO98   H11
set_io -nowarn IO99   H12
set_io -nowarn IO100  H13
set_io -nowarn IO101  H14
set_io -nowarn IO102  H16
set_io -nowarn IO103  J1
set_io -nowarn IO104  J2
set_io -nowarn IO105  J3
set_io -nowarn IO106  J4
set_io -nowarn IO107  J5
set_io -nowarn IO108  J10
set_io -nowarn IO109  J11
set_io -nowarn IO110  J12
set_io -nowarn IO111  J13
set_io -nowarn IO112  J14
set_io -nowarn IO113  J15
set_io -nowarn IO114  J16
set_io -nowarn IO115  K1
set_io -nowarn IO116  K3
set_io -nowarn IO117  K4
set_io -nowarn IO118  K5
set_io -nowarn IO119  K9
set_io -nowarn IO120  K11
set_io -nowarn IO121  K12
set_io -nowarn IO122  K13
set_io -nowarn IO123  K14
set_io -nowarn IO124  K15
set_io -nowarn IO125  K16
set_io -nowarn IO126  L1
set_io -nowarn IO127  L3
set_io -nowarn IO128  L4
set_io -nowarn IO129  L5
set_io -nowarn IO130  L6
set_io -nowarn IO131  L7
set_io -nowarn IO132  L9
set_io -nowarn IO133  L10
set_io -nowarn IO134  L11
set_io -nowarn IO135  L12
set_io -nowarn IO136  L13
set_io -nowarn IO137  L14
set_io -nowarn IO138  L16
set_io -nowarn IO139  M1
set_io -nowarn IO140  M2
set_io -nowarn IO141  M3
set_io -nowarn IO142  M4
set_io -nowarn IO143  M5
set_io -nowarn IO144  M6
set_io -nowarn IO145  M7
set_io -nowarn IO146  M8
set_io -nowarn IO147  M9
set_io -nowarn IO148  M10
set_io -nowarn IO149  M11
set_io -nowarn IO150  M12
set_io -nowarn IO151  M13
set_io -nowarn IO152  M14
set_io -nowarn IO153  M15
set_io -nowarn IO154  M16
set_io -nowarn IO155  N2
set_io -nowarn IO156  N3
set_io -nowarn IO157  N4
set_io -nowarn IO158  N5
set_io -nowarn IO159  N6
set_io -nowarn IO160  N7
set_io -nowarn IO161  N9
set_io -nowarn IO162  N10
set_io -nowarn IO163  N11
set_io -nowarn IO164  N12
set_io -nowarn IO165  N16
set_io -nowarn IO166  P1
set_io -nowarn IO167  P2
set_io -nowarn IO168  P4
set_io -nowarn IO169  P5
set_io -nowarn IO170  P6
set_io -nowarn IO171  P7
set_io -nowarn IO172  P8
set_io -nowarn IO173  P9
set_io -nowarn IO174  P10
set_io -nowarn IO175  P11
set_io -nowarn IO176  P12
set_io -nowarn IO177  P13
set_io -nowarn IO178  P14
set_io -nowarn IO179  P15
set_io -nowarn IO180  P16
set_io -nowarn IO181  R1
set_io -nowarn IO182  R2
set_io -nowarn IO183  R3
set_io -nowarn IO184  R4
set_io -nowarn IO185  R5
set_io -nowarn IO186  R6
set_io -nowarn IO187  R9
set_io -nowarn IO188  R10
set_io -nowarn IO189  R11
set_io -nowarn IO190  R12
set_io -nowarn IO191  R14
set_io -nowarn IO192  R15
set_io -nowarn IO193  R16
set_io -nowarn IO194  T1
set_io -nowarn IO195  T2
set_io -nowarn IO196  T3
set_io -nowarn IO197  T5
set_io -nowarn IO198  T6
set_io -nowarn IO199  T7
set_io -nowarn IO200  T8
set_io -nowarn IO201  T9
set_io -nowarn IO202  T10
set_io -nowarn IO203  T11
set_io -nowarn IO204  T13
set_io -nowarn IO205  T14
set_io -nowarn IO206  T15
set_io -nowarn IO207  T16
